/* Formulaire*/
form,
form > fieldset,
form > div > fieldset {
  width: 100%;
  padding: 10px;
}
form > div {
  display: flex;
}
div > fieldset {
  display: block;
  width: 50%;
}
legend {
  width: 100%;
}
input[type=text],
input[type=url],
input[type=date],
input[type=tel],
input[type=file],
input[type=number],
input[type=color],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime-local],
input[type=email],
input[type=password],
input[type=reset],
input[type=submit],
select {
  width: 100%;
  height: 22px;
  border-radius: 8px;
  text-align: center;
}
input[type=radio],
input[type=checkbox],
input[type=range] {
  width: auto;
}
input[type=reset],
input[type=submit] {
  font-weight: 900;
  background-color: #6a4889;
  color: #ffffff;
  height: auto;
  border: solid #ffffff 1.5px;
}
textarea {
  width: 100%;
  resize: none;
  border-radius: 8px;
}

/*Mise en Page*/

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border-spacing: 0;
    padding: 0;
    text-decoration: none;
  }
  body {
    min-width: 900px;
    max-width: 1200px;
    margin: auto;
    background-color: #FF6CD6;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
  }
  h2{
    margin-bottom: 1rem;
    text-decoration: underline;
  }
  p {
    margin-bottom: 0.7rem;
  }
  video {
    margin-left: 50px;
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.761);
    width:600px;
    height:400px;
  
  }
  
  a {
    border-color: #0096FF;
    color: #0096FF;
  }
  a:visited {
    border-color: #70FFF5;
    color: #70FFF5;
  }
  
  header {
    padding: 20px;
    margin-bottom: 30px;
  }
  
  nav {
    margin-top: 0;
    border: double 5px #ffffff;
    background-color: #fc9cf9;
    font-weight: 900;
    text-align: center;
    letter-spacing: 8px;
  }
  nav > ul {
    margin: 10px 0;
    list-style-type: none;
    display: flex;
  }
  nav > ul > li {
    position: relative;
    width: 24%;
    margin: auto;
  }
  
  main {
    border-radius: 50px;
    padding: 50px;
    background-color: #B46CF5;
  }
  footer {
    padding: 20px;
    margin-top: 40px;
    font-size: 18px;
    letter-spacing: 10px;
    text-align: center;
    font-weight: bold;
  }
  footer > p > span {
    font-size: 11px;
    letter-spacing: 6px;
  
  }
  
  .float {
    float: right;
  }
  
